extends ./layouts/main.pug
include ./mixins/videoBlock.pug

block content
    .search__header
        h3 Search "#{searchTerm}"
    .search__videos
        each video in videos
            +videoBlock({
                title : video.title,
                videoFile : video.videoFile,
                views : video.views
            })